<div class="container">
    <header>
        <div class="search-container">
            <h1>LOPEF</h1>
        </div>
    </header>

    <main>
        <section class="info">
            <h2>Laboratório de Operações e Estradas Florestais (LOPEF)</h2>
            <p>O LOPEF localiza-se no Centro de Ciências Agroveterinárias (CAV) da UDESC em Lages, SC e teve suas atividades iniciadas no ano de 2013. Desde então, tem atuado no ensino, desenvolvimento e difusão de conhecimento técnico-científico de processos para o cultivo, manejo, colheita, transporte, estradas e uso de recursos florestais, de modo a estimular à interdisciplinaridade e inovação para desenvolvimento de melhores práticas em operações florestais.</p>
            <p>O LOPEF é formado por pesquisadores, graduandos, pós-graduandos, estagiários e profissionais de todo o território nacional, tendo histórico de desenvolvimento de projetos em parceria com diversas instituições privadas e públicas do Brasil e exterior.  </p>
        </section>
        <section class="frames">
            <div class="top">
                <img src="./assets/lopef.png" alt="Lopef Picture">
            </div>
            <div class="down">
                <div class="imgleft">
                    <img src="./assets/jean.jpeg" alt="Jean Alberto Sampietro">
                    <div class="autodescription">
                        <h3 class="name">Professor Jean Alberto Sampietro</h3>
                        <p class="description">
                            Eng. Florestal, PhD. em Eng. Florestal
                            Docente, Pesquisador e Consultor em Logística de Abastecimento e Rede Viária Florestal da UDESC
                        </p>
                    </div>
                </div>
                <div class="imgright">
                    <img src="/assets/franciny.jpeg" alt="Franciny Lieny Souza">
                    <div class="autodescription">
                        <h3 class="name">Engenheira Franciny Lieny Souza</h3>
                        <p class="description">
                            Eng. Florestal, Doutoranda em Eng. Florestal da UDESC
                            Pesquisadora e Consultora em Colheita e Rede Viária Florestal da ForestOps
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>